/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@config "../tailwind.config.cjs";


@layer base {
    html {
      @apply scroll-smooth;
    }
  }

html {
  height: 100vh
}

body {
    background: theme(colors.main);
}

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.svg-hover {
    fill: theme(colors.white);
}
.svg-hover:hover {
    fill: theme(colors.secondary-2);
    transition: fill;
}