footer {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: var(--nav_dark);
}
span {
  padding-left: 0.5em;
  color: var(--text_colour);
  font-family: var(--text_font_styled);
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-color: var(--accent_colour);
}