:root{
  --text_colour: white;
  --main_colour: #37474f;
  --secondary_colour: #455a64;
  --accent_colour: #E40066;
  --accent_colour_alt: #a8004c;
  --nav_dark: #212529;
  --text_font_styled : 'Courier New', Courier, monospace;
  --text_font: Arial, Helvetica, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--text_font);
}
body {
  margin: 0;
  padding: 0;
}