@media screen and (max-width: 600px) {
    .hide_on_mobile {
      display: none;
    }
    .remove_animation_on_mobile {
        animation: none;
        border: none;
        padding: 0;
        margin: 0;
    }
    .wrap_on_mobile {
        flex-wrap: wrap !important;
        white-space: wrap;
        align-items: center;
        justify-content: center;
    }
    .shrink_text_on_mobile > * {
        font-size: 140% !important;
    }
    .grow_section_to_content {
        height: fit-content !important;
    }
  }


@media screen and (max-width: 768px) {
    .show_on_mobile {
        display: none;
    }
}