.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  background-color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;
  width: 30rem;
  height: 15rem;

  justify-content: space-evenly;
  flex-flow: row wrap;

  position: relative;
}

.card > p {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.project-links {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align:center;
}

.project-link {
background-color: var(--accent_colour);
margin:10px auto;
display:inline-block;

padding: 0.5rem;
margin: 0.5rem;

text-decoration: none;
color: var(--text_colour);
box-shadow: 2px 2px var(--nav_dark);


}

.project-link:hover {
  background-color: var(--accent_colour_alt);
  transition: 0.2s;
  box-shadow: none;
}